<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>589068038253-aibkru88ci3agg9tc0i6a8afhvg44lcb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.589068038253-aibkru88ci3agg9tc0i6a8afhvg44lcb</string>
	<key>API_KEY</key>
	<string>AIzaSyDgA2HE7VQttKkxhrioqh29nEzJuZF59Pk</string>
	<key>GCM_SENDER_ID</key>
	<string>589068038253</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jeneelee.00BFChat</string>
	<key>PROJECT_ID</key>
	<string>bf-chat-project</string>
	<key>STORAGE_BUCKET</key>
	<string>bf-chat-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:589068038253:ios:84282d965d2b78f0cfcf64</string>
</dict>
</plist>